<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Créer une Tâche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="taskFormGroup" (ngSubmit)="createTask()">
    <ion-item>
      <ion-input
        name="title"
        formControlName="title"
        label-placement="floating"
        label="Titre"
        placeholder="Faire les courses"
        required
        ngDefaultControl
        [class.invalid]="taskFormGroup.get('title')?.invalid && taskFormGroup.get('title')?.touched"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select
        name="status"
        formControlName="status"
        label-placement="floating"
        label="Status"
        placeholder="En cours"
        ngDefaultControl
        [class.invalid]="taskFormGroup.get('status')?.invalid && taskFormGroup.get('status')?.touched"
      >
        @for (status of taskStatus; track $index) {
        <ion-select-option [value]="status"> {{status}} </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select
        name="category"
        formControlName="category"
        label-placement="floating"
        label="Catégorie"
        placeholder="Choisir une catégorie"
        ngDefaultControl
        [class.invalid]="taskFormGroup.get('category')?.invalid && taskFormGroup.get('category')?.touched"
      >
        @for (category of categories; track $index) {
        <ion-select-option [value]="category.name">
          {{category.name}}
        </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input
        name="endDate"
        formControlName="endDate"
        type="date"
        label-placement="floating"
        label="Date de fin"
        required
        ngDefaultControl
        [class.invalid]="taskFormGroup.get('endDate')?.invalid && taskFormGroup.get('endDate')?.touched"
      ></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" color="dark"> Créer </ion-button>
    @if (taskFormGroup.invalid && taskFormGroup.touched) {
    <ion-text color="danger">
      <span>Veuillez remplir tous les champs</span>
    </ion-text>
    }
  </form>
</ion-content>
