<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liste des Tâches</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createTask()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (task of tasks; track task.id) {
    <ion-item>
      <ion-label (click)="openTask(task.id)">
        <h2>{{ task.title }}</h2>
        <p>{{ task.status }}</p>
        <ion-badge
          [style.background]="getCategoryColor(task.category)"
          style="margin-top: 5px"
        >
          {{ task.category }}
        </ion-badge>
      </ion-label>
      <ion-button fill="clear" color="danger" (click)="deleteTask(task.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    }
  </ion-list>
</ion-content>
